<div class="row contentcenter">
    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 mrb20" *ngFor="let item of stats; let i = index">
        <div class="card">
            <div class="img pt20"><img src="http://via.placeholder.com/50x50" class="rounded pullRight" alt="..."></div>
            <div class="card-body">
            <h1 class="card-title truncateTitle"><b>{{item.count}}</b></h1>
            <p class="card-text truncateBody">{{item.text}}</p>
            </div>
        </div>
    </div>
</div>
<div class="card-header">
    <h3>Recent blogs</h3>
    <div class="row">        
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 mrb20" *ngFor="let item of posts; let i = index">
            <div class="card">
                <div class="img pt20"><img src="http://via.placeholder.com/200x100" class="rounded cardImage" alt="..."></div>
                <div class="card-body">
                <h1 class="card-title truncateTitle">{{item.title}}</h1>
                <p class="card-text truncateBody" title="{{item.body}}">{{item.body}}</p>
                </div>
            </div>
        </div>
    </div>  
</div>
