.mrb20{
    margin-bottom: 20px;
}

.cardImage {
    margin: 0 8%;
}

.pullRight {
    float:right;
    margin-right: 10px;
}

.truncateTitle {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncateBody {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
